
<%- include('./templates/header') %>

<div class="container mt-2">
    <div class="row">
            <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Welcome to my app</h1>    
        </div>
     </div>
</div>

  <%- include('./templates/footer') %>
