<%- include('./templates/header') %>
<div class="text-center">
  <% if(msg){ %>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%- msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-md-8 offset-md-2 bg-info rounded text-light p-3">
      <form action="/device" method="POST">
        <a class="btn btn-outline-light" href="/devices">Goto Devices page</a>

        <h4 class="text-center py-2 mb-4 text-uppercase ">Add A New Device</h4>

        <h4>Device Information</h4>

        <div class="form-group">
          <label for="device">Select Device</label>
          <select class="form-control" id="device" name="device" required>
            <option>Please Select a Device</option>
            <option value="iphone">Iphone</option>
            <option value="ipad">Ipad</option>
            <option value="ipod">Ipod</option>
            <option value="apple">Apple</option>
            <option value="samsung">Samsung</option>
            <option value="laptop">Laptop</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="model">Model</label>
          <input
            type="text"
            class="form-control"
            id="model"
            aria-describedby="modelHelp"
            name="model"
            placeholder="Required"
            required

          />
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input
            type="text"
            class="form-control"
            id="color"
            aria-describedby="colorHelp"
            name="color"
            placeholder="Required"
            required
          />
        </div>
        <div class="form-group">
          <label for="network">Network</label>
          <input
            type="text"
            class="form-control"
            id="network"
            aria-describedby="networkkHelp"
            placeholder="Optional"
            name="network"
          />
        </div>
        <div class="form-group">
            <label for="imei">IMEI Number</label>
            <input
              type="number"
              class="form-control"
              id="imei"
              aria-describedby="imeikHelp"
              placeholder="Optional"
              name="imei"
            />
          </div>
          <div class="form-group">
            <label for="serial">S/N Number</label>
            <input
              type="number"
              class="form-control"
              id="serial"
              aria-describedby="serialkHelp"
              placeholder="Optional"
              name="serial"
            />
          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input
              type="text"
              class="form-control"
              id="weight"
              aria-describedby="weightHelp"
              name="weight"
              placeholder="Optional"
            />
          </div>
          <div class="form-group">
            <label for="voltage">Voltage</label>
            <input
              type="text"
              class="form-control"
              id="voltage"
              aria-describedby="voltageHelp"
              name="voltage"
              placeholder="Optional"
            />
          </div>
          <div class="form-group">
            <label for="status">Device Status</label>
            <select class="form-control" id="status" name="status" required>
            <option>Please Select Device Status</option>
            <option value="used">Used</option>
            <option value="scratch">Scratch</option>
            <option value="broken">Broken</option>
          </select>
          </div>
        <div class="form-group">
          <label for="fault">Fault</label>
          <select class="form-control" id="fault" name="fault" required>
            <option>Please Select The Fault</option>
            <option value="broken">Broken</option>
            <option value="water">Water</option>
            <option value="display">Display</option>
            <option value="battery">Battery</option>
            <option value="Network">Network</option>
            <option value="keyboard">Keyboard</option>
            <option value="speaker">Speaker</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
            <label for="problem">Repair Description</label>
            <textarea
              class="form-control"
              id="problem"
              rows="3"
              name="problem"
              placeholder="Required"
              required
            ></textarea>
          </div>
        <h4 class="mt-5">Customer contact information</h4>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="nameHelp"
            name="name"
            placeholder="Required"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Optional"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            aria-describedby="phoneHelp"
            placeholder="Optional"
            name="phone"
          />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea
            class="form-control"
            id="address"
            rows="3"
            name="address"
            placeholder="Optional"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            aria-describedby="cityHelp"
            name="city"
            placeholder="Optional"
          />
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input
            type="text"
            class="form-control"
            id="state"
            aria-describedby="stateHelp"
            name="state"
            placeholder="Optional"
          />
        </div>
        <div class="form-group">
          <label for="postal">Postal Code</label>
          <input
            type="number"
            class="form-control"
            id="postal"
            aria-describedby="postalHelp"
            name="postal"
            placeholder="Optional"
          />
        </div>

        <button type="submit" class="btn btn-light">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('./templates/footer') %>
