body {
  /* padding: 50px; */
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#homePage {
  width:100vw;
  height: 100vh; 
  position: absolute;
  top: 0;
  background-image: linear-gradient(to right bottom, #123d57d7, #061f2ad7), url('/images/layout.png'); 
  background-position: center; 
  background-size: cover;
}

#homeContainer {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #17a2b8;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px  rgba(0, 0, 0, .5);

}